body {
  text-align: center;
  background-color: rgb(255, 249, 249);
  font-size: 25px;
}
.header-title {
  text-align: center;
  color: ;
  font-size: ;
  font-family: ;
}
.header-name {
  text-align: center;
  color: ;
  font-size: ;
  font-family: ;
}
.main-blog {
  background-color: rgb(255, 249, 249);
  width: auto;
  margin: ;
  padding: ;
  text-align: center;
}
