body {
  text-align: center;
  background-color: aqua;
  font-size: 25px;
}
.header-title {
  text-align: center;
  color: ;
  font-size: ;
  font-family: ;
}
.header-name {
  text-align: center;
  color: aquamarine;
  font-size: ;
  font-family: ;
}
.main-blog {
  background-color: aqua;
  width: auto;
  margin: ;
  padding: ;
  text-align: center;
}
